.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f5c63;
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #0f5c63;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #1ba3af;
}

.auth-card span {
  color: #0f5c63;
  cursor: pointer;
  font-weight: bold;
}